/* Overrides */

.btn {
  margin: 0 10px 0 0;
}

form select {
  display: none;
}
/* Prefix/Suffix CSS overrides */
form input {
  width: auto !important;
}
.field-prefix + input[type="text"],
.field-suffix + input[type="text"] {
  text-align: center;
}

/* Textarea Grippie overrides */
textarea {
  margin-bottom: 0 !important;
}
textarea:focus + .grippie {
  margin-top: 1px;
}

/* File field CSS overrides*/
.file-field input[type="file"] {
  width: 91px !important;
}
.file-field button.btn {
  position: static;
  float: none;
  margin: 0 0 0 10px;
}
.file-path button[value="Remove"] {
  width: 0px !important;
}
.file-size ~ .validate {
  display: none;
}
/*Fieldset overrides*/
.collapsible-body {
  padding: 10px 20px;
}
/* Band-aids for growing pains, will be removed as project matures */
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
#page-wrapper {
  overflow-x: hidden;
}
#page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
table th, table td {
  padding: 15px 20px;
}

.ajax-progress {
  margin-left: 10px;
  vertical-align: middle;
}
.ajax-progress .throbber {
  background-image: url(../images/loading.gif);
  background-size: 32px;
  width: 32px;
  height: 32px;
}

/* Node Edit Tabs Overrides */
.tabs.primary,
.tabs.secondary {
  margin: 0;
  padding: 0 !important;
  border: none !important;
}
.tabs.primary a,
.tabs.secondary a {
  padding: 0 !important;
  background: none !important;
  color: #009688 !important;
  border: 0 !important;
  border-bottom: 2px solid #e0f2f1 !important;
}
.tabs.primary .tab,
.tabs.secondary .tab {
  width: 10% !important;
}
.tabs .indicator {
  background: #80cbc4 !important;
}
.form-textarea-wrapper {
  border: 1px solid #bdbdbd;
}
/* Accordion - Features Override */
fieldset.features-export-component.collapsible {
  background: #fff !important;
}
#features-filter fieldset {
  padding: 0 10px !important;
}
.container-inline div.collapsible-header {
  vertical-align: bottom;
  display: block;
}
/* Pager */
.pager-wrap {
  max-width: 725px;
  margin: 0 auto;
}
.prev.first {
  margin-right: 30px;
}
.clearafter:after {
  content: '';
  display: block;
  clear: both;
}
a.feed-icon {
  display: none;
}
/* Status Messages */
.alert {
  color: #fff;
}
.alert a {
  color: #bbdefb;
}


