/* Overrides */

.btn {
	margin: 0 10px 0 0;
}

/* Prefix/Suffix CSS overrides */
form input,
form select {
  width: auto !important;
}
.field-prefix + input[type="text"],
.field-suffix + input[type="text"] {
  text-align: center;
}

/* Textarea Grippie overrides */
textarea {
  margin-bottom: 0 !important;
}
textarea:focus + .grippie {
  margin-top: 1px;
}

/* Band-aids for growing pains, will be removed as project matures */
form select {
	display: inline-block;
}
#page-wrapper {
	overflow-x: hidden;
}
#page {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
table th, table td {
	padding: 15px 20px;
}
